.Suggest {
    position: relative;
    min-width: 300px;
}

.Suggest__input {
    width: 100%;
}

.SuggestSelect {
    background-color: #393439;
    position: absolute;
    width: 100%;
    z-index: 1;
    // opacity: 0;
    // pointer-events: none;
    // touch-action: none;
    // transition: opacity 0.4s ease;
}

.SuggestSelect_active {
    opacity: 1;
    touch-action: auto;
    pointer-events: all;
}

.SuggestSelect__item {
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
    transition: background-color ease 0.2s;
    cursor: pointer;
    &:hover {
        background-color: var(--g-color-line-generic-hover);
    }
}
