.GantPage {
    padding: 0 0 var(--g-spacing-6) var(--g-spacing-6);
}

.GantPage__header {
    padding: var(--g-spacing-6) var(--g-spacing-6) var(--g-spacing-6) 0;
}

.appContainer {
    display: flex;
    height: 100vh;
}

.GanttSidebar {
    width: 250px;
    margin-top: 38px;
    padding: 20px;
    border-right: 1px solid var(--g-color-private-white-50);
}

.GanttSidebar__task {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--g-color-private-white-50);
    word-break: break-all;
}

.GanttChart {
    flex: 1;
    padding: 20px;
    overflow-x: auto;
    position: relative;
}

.GanttChart__hours {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 20px;
}

.GanttChart__hoursItem {
    width: 60px;
    text-align: center;
    border-left: 1px solid #dee2e6;
    flex-shrink: 0;
}

.GanttChart__taskBar {
    width: 60px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.GantPage__month {
    margin-bottom: 16px;
}

.GanttChart__status {
    min-height: 45px;
    width: 100%;
    :global {
        .g-label__text {
            justify-content: center;
        }
        .g-label__content {
            font-size: 9px;
        }
    }
}

.GanttChart__line {
    min-height: 50px;
    border-bottom: 1px solid var(--g-color-private-white-50);
    width: 1440px;
    cursor: pointer;
}
