.GantPage {
    padding: 0 0 var(--g-spacing-6) var(--g-spacing-6);
}

.GantPage__header {
    padding: var(--g-spacing-6) var(--g-spacing-6) var(--g-spacing-6) 0;
}

.appContainer {
    display: flex;
    height: 100vh;
}

.GanttSidebar {
    width: 250px;
    margin-top: 38px;
    padding: 20px;
    border-right: 1px solid var(--g-color-private-white-50);
}

.GanttSidebar__task {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--g-color-private-white-50);
    word-break: break-all;
    cursor: pointer;
    transition: opacity 0.3s ease;
    &:hover {
        opacity: 0.5;
    }
}

.GanttChart {
    flex: 1;
    padding: 20px;
    overflow-x: auto;
    position: relative;
}

.GanttChart__hours {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 20px;
}

.GanttChart__hoursItem {
    width: 60px;
    text-align: center;
    border-left: 1px solid #dee2e6;
    flex-shrink: 0;
}

.GanttChart__taskBar {
    width: 60px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.GantPage__month {
    margin-bottom: 16px;
}

.GanttChart__status {
    min-height: 45px;
    width: 100%;
    :global {
        .g-label__text {
            justify-content: center;
        }
        .g-label__content {
            font-size: 8px;
        }
    }
}

.GanttChart__line {
    min-height: 50px;
    border-bottom: 1px solid var(--g-color-private-white-50);
    width: 1440px;
    cursor: pointer;
}

.GanttSidebar__taskSelect {
    width: 100%;
    background-color: #000;
    height: 100px;
    position: absolute;
    top: 35px;
}

.GantPage__modal {
    padding: 30px;
    min-width: 400px;
}

.GantPage__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    border-top: 1px solid var(--g-color-line-generic-hover);
    padding-top: 16px;
    padding-bottom: 16px;
}

.GantPage__actions {
    display: flex;
    gap: 16px;
}

.GantPage__header {
    display: block;
    margin-bottom: 16px;
    padding-top: 0;
}

.GantPage__submit {
    margin-top: 16px;
}

.GantPage__field_deleted {
    opacity: 0.5;
    pointer-events: none;
    touch-action: none;
}

.GantPage__modalActions {
    display: flex;
    gap: 16px;
}
