.RequestPage {
    padding: 0 var(--g-spacing-6);
}

.RequestPage__header {
    padding: var(--g-spacing-6) var(--g-spacing-6) var(--g-spacing-6) 0;
}

.RequestPage__form {
    // display: flex;
    // gap: 100px;
}

.RequestPage__formLeft {
    margin-bottom: 15px;
}
