.RequestInfoPage {
    padding: 0 var(--g-spacing-6);
}

.RequestInfoPage__header {
    padding: var(--g-spacing-6) var(--g-spacing-6) var(--g-spacing-6) 0;
}

.RequestInfoPage__status {
    margin-bottom: 16px;
}
