.RequestPage {
    padding: 0 0 var(--g-spacing-6) var(--g-spacing-6);
}

.RequestPage__header {
    padding: var(--g-spacing-6) var(--g-spacing-6) var(--g-spacing-6) 0;
}

.RequestPage__formLeft {
    margin-bottom: 15px;
}

.RequestPage__actions {
    display: flex;
    gap: 16px;
}

.RequestPage__status {
    margin-bottom: 20px;
    cursor: pointer;
}
