.Field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    max-width: 500px;
    margin-bottom: 15px;
    &__right {
        min-width: 60%;
    }
}

@media (max-width: 500px) {
    .Field {
        justify-content: center;
        &__left {
            display: none;
        }
        &__right {
            min-width: 100%;
        }
    }
}